<article class="container">
    
    <div id="hero_fav" class="hide_drawer">
        <div id="hero_inner_fav">
            <h1 id="hero_title_fav">Explore Your Favorite Outlet</h1>
            <p id="hero_tagline_fav">Kunjungi Kembali Outlet Favorite Anda</p>
        </div>
    </div>

    <main id="maincontent" class="hide_drawer">
        <section id="box_exploreoutlet">
            <h2 class="sub_title">- Explore Outlet -</h2>
            <article id="box_outlet_wrapper">
                
            </article>
        </section>
    </main>

</article>