<article class="container">
    
    <!-- Hero Jumbotron -->
    <div id="hero" class="hide_drawer">
        <div id="hero_inner">
            <h1 id="hero_title">Find Us in Your City</h1>
            <p id="hero_tagline">Ribuan Mitra FoodStop Telah Menjangkau Hampir Seluruh Wilayah Indonesia</p>
            <input id="hero_search" type="text" />
            <label id="label_hero_search" for="hero_search">Search For Restaurants By Name or Place</label>
        </div>
    </div>

    <!-- Search Restaurant -->
    <main id="maincontent" class="hide_drawer">
        <section id="box_exploreoutlet">
            <h2 class="sub_title">- Explore Outlet -</h2>
            <article id="box_outlet_wrapper">
                - Load Data -
            </article>
        </section>
    </main>

</article>