<!DOCTYPE html>
<html lang="en">
<head>
    <title>FoodStop : Food Networking</title>

    <link rel="shortcut icon" href="../public/icons/cooking.svg">
    <link rel="apple-touch-icon" href="/cooking.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Web Aplikasi Katalog Restoran">
    <meta name="keywords" content="Food, Restaurant, Dishes">
    <meta name="author" content="streetcoding">
    
</head>
<body>
    
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    
    <div id="main_wrapper">

        <!-- App Header -->
        <header>

            <!-- Navigation Bar on Tablet & Desktop Display -->
            <div id="header_wrapper">
                <div id="header_brand">
                    <div id="brand_title">
                        <a class="tombol" href="/" tabindex="-1">FoodStop</a>
                    </div>
                </div>
                <nav id="nav">
                    <ul id="nav_list">
                        <li class="nav_list_detil"><a class="tombol btn-nav btn-active" href="#home">Home</a></li>
                        <li class="nav_list_detil"><a class="tombol btn-nav" href="#favorite">Favorite</a></li>
                        <li class="nav_list_detil"><a class="tombol btn-nav" href="https://github.com/oldmanstreetcoding" target="_blank">About Us</a></li>
                        
                        <li class="nav_showdrawer" id="btn_showdrawer">
                            <Button class="tombol" id="btn_burger" aria-label="Open Drawer Menu">☰</Button>
                        </li>
                    </ul>
                </nav>
            </div>

            <progress id="linier-loader" class="pure-material-progress-linear"/>

        </header>

        <!-- Sidebar Navigation on Mobile Display -->
        <aside id="mnav_drawer" class="hide_drawer">
            <ul id="mnav_list">
                <li class="mnav_list_detil"><a class="tombol btn-nav" href="#home">Home</a></li>
                <li class="mnav_list_detil"><a class="tombol btn-nav" href="#favorite">Favorite</a></li>
                <li class="mnav_list_detil"><a class="tombol btn-nav" href="https://github.com/oldmanstreetcoding" target="_blank">About Us</a></li>
            </ul>
        </aside>

        <!-- App Main Content -->
        <main id="body-content">
            
        </main>

        <!-- App Footer -->
        <footer>
            Copyright &copy; 2021 &middot; FoodStop
        </footer>

        <!-- Scroll Up Button -->
        <button id="goTop" title="Klik untuk kembali ke Atas">Up</button>

    </div>

</body>
</html>
