/*
 * global
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#main_wrapper {
    width: 100%;
    margin: auto;
}

/*
 * SkipToContent
 */

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: green;
    opacity: 0.8;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

/*
 * Header
 */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: tomato;
    z-index: 30;
}

#header_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    margin: auto;
}

#header_brand {
    line-height: 50px;
    margin-left: 5px;
    color: #fff;
}

#brand_title {
    font-size: 1.6em;
    font-weight: bold;
}

/*
 * Navigation
 */

#nav_list {
    line-height: 50px;
    padding-right: 10px;
    list-style-type: none;
    text-align: right;
}

.nav_list_detil {
    display: none;
    box-sizing: border-box;
    margin-left: 60px;
    text-align: center;
    font-size: large;
}

.nav_showdrawer {
    font-size: 17pt;
}

.tombol{
    display: inline-block;
    min-width : 44px;
    min-height: 44px;
    text-align: center;
}

#btn_burger{
    background-color: tomato; 
    border: 1px solid tomato;
    color: white;
    font-size: 16pt;
    margin-top: 5px;
    margin-right: -15px;
}

#btn_burger:hover {
    font-weight: bold;
    color: black;
}

#label_hero_search {
    color: white;
}

#mnav_drawer {
    position: absolute;
    height: 85vh;
    background-color:tomato;
    z-index: 10;
    width: 50%;
    transform: translate(-101%, 0);
    transition: transform 0.3s ease-in-out;
}

#mnav_drawer.open {
    transform: translate(0,0)
}

#mnav_list {
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
}

.mnav_list_detil {
    line-height: 44px;
    border-bottom: 1px dashed white;
}

#brand_title a, ul a {
    text-decoration: none;
    color: white;
}

ul a:hover {
    color: #000;
}

.btn-active,
.mbtn-active {
    text-decoration: underline;
    color: black;
}

/*
 * hero image
 */

#hero {
    display: flex;
    align-items: center;
    min-height: 350px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-color: rgb(237, 225, 214);
    background-image: url('../public/images/heros/hero-image_4.jpg');
    margin-top: 50px;
}

#hero_inner {
    margin: 0 auto;
    padding: 10px;
}

#hero_title {
    color: white;
    font-weight: 500;
    font-size: 25px;
    font-weight: bold;
}

#hero_tagline {
    color: whitesmoke;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

#hero_search {
    margin: 15px;
    width: 90%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
}

input:focus, div[tabindex="0"]:focus {
    outline: 3px dashed tomato;
}

/*
 * Outlet
 */

.sub_title {
    text-align: center;
    color:tomato;
    margin-top: 15px;
}

#box_exploreoutlet {
    padding-bottom: 50px;
}

#box_outlet_wrapper {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    column-gap: 25px;
    width: 98%;
    margin: auto;
}

.box_outlet_item {
    width: 100%;
    background-color: rgb(237, 225, 214);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.box_outlet_item:hover, .card_resto_rating:hover {
    box-shadow: 0 0 2px 3px tomato;
    cursor: pointer;
}

.card_outlet_header {
    position: relative;
}

.card_outlet_body {
    padding: 10px;
}

.card_outlet_picture {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.outlet_text_kota {
    color: black;
    background-color: white;
    width: 50%;
    margin-top: 20px;
    position: absolute;
    top: 0;
    padding: 8px;
    text-align: center;
}

.outlet_text_name {
    margin-top: 8px;
    margin-bottom: 8px;
}

.outlet_text_kota,
.outlet_text_desc {
    font-size: 11pt;
}

.outlet_text_desc {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * Detil Resto
 */

.box_card_resto {
    margin-top: 50px;
    padding-bottom: 70px;
}

.box_hero_resto {
    min-height: 380px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card_resto {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.card_resto_rating {
    text-align: center;
}

.card_resto_brand, .card_resto_rating, .card_resto_description, .box_menu_wrapper, .card_resto_review {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 10px 8px #888888;
}

.card_resto_description, .box_menu_wrapper, .card_resto_review {
    margin: 0 20px 0 20px;
}

.imglove {
    width: 40px
}

.text_resto_category {
    margin-top: 5px; 
    margin-bottom: 5px; 
    color: grey;
}

.text_resto_subtitle{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.box_menu_wrapper, .card_resto_review {
    margin-top:20px;
}

.card_resto_review {
    text-align: right;
}

.card_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.menu_list, .review_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.review_list {
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

.menu_list li {
    margin-bottom: 5px;
}

#text_user_review, #name_user_review {
    width: 99%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#btn_user_review {
    padding: 5px;
}

.review_wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-bottom: 1px dashed grey;
    padding: 15px;
}

#name_user_review {
    margin-bottom: 5px;
}

#btnBackArrow {
    background: transparent;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    z-index: 5;
    cursor: pointer;
    border: none;
}

#btnBackArrow:hover {
    background-color: tomato;
}
/*
 * Scroll to The Top
 */

#goTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    opacity: 0.8;
    min-width : 44px;
    min-height: 44px;
}

#goTop:hover {
    background-color: #555;
}

/*
 * Footer
 */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    text-align: center;
    padding: 15px;
    color: white;
}

/*
 * Loader
 */

progress {
    width: 100%;
    display: none;
}

.pure-material-progress-linear {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 0.25em;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
    font-size: 16px;
}

.pure-material-progress-linear::-webkit-progress-bar {
    background-color: transparent;
}

/* Determinate */
.pure-material-progress-linear::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
}

.pure-material-progress-linear::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
}

.pure-material-progress-linear::-ms-fill {
    border: none;
    background-color: currentColor;
    transition: all 0.2s;
}

/* Indeterminate */
.pure-material-progress-linear:indeterminate {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
    animation: pure-material-progress-linear 2s infinite linear;
}

.pure-material-progress-linear:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.pure-material-progress-linear:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes pure-material-progress-linear {
    0% {
        background-size: 200% 100%;
        background-position: left -31.25% top 0%;
    }
    50% {
        background-size: 800% 100%;
        background-position: left -49% top 0%;
    }
    100% {
        background-size: 400% 100%;
        background-position: left -102% top 0%;
    }
}


/*
 * Responsive
 */

@media only screen and (min-width: 420px) {
    #box_outlet_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 780px) {
    .nav_list_detil {
        display: inline-block;
    }

    .nav_showdrawer {
        display: none;
    }

    #box_outlet_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (min-width: 900px) {

    #header_wrapper {
        width: 87%;
        margin: auto;
    }

    #maincontent {
        width: 90%;
        margin: auto;
    }

    .card_resto_wrapper {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    #box_outlet_wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
    
}
